<!DOCTYPE html>
<html>
	<head>
		<title>vim-jp - issues</title>
		<meta charset="utf-8"/>
		<link href='http://fonts.googleapis.com/css?family=Prosto One' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" type="text/css" href="styles.css"/>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		</script>
	</head>
	<body>
		<header id="global-header">
			<h1><a href="/">vim-jp</a></h1>
			<p class="description">issues on vim-jp</p>
		</header>

		<div id="content">
			<section class="issues active-issues">
				<h1>Active Issues</h1>
				<script src="githubapi.js" data-api="repos/vim-jp/issues/issues?sort=updated;state=open;direction=desc">
					<div class="issues">
					<% for (var i = 0, it; (it = data[i]); i++) { %>
						<div class="issue <%= it.state %>">
							<span class="issue-number">#<%= it.number %></span>
							<a href="<%= it.html_url %>" class="issue-title"><%= it.title %></a>
							by
							<span class="issue-author"><img src="<%= it.user.avatar_url %>" width="16" height="16"/><%= it.user.login %></span>
						</div>
					<% } %>
					</div>
				</script>
			</section>
			<section class="issues fixed-issues">
				<h1>Fixed Issues</h1>
				<script src="githubapi.js" data-api="repos/vim-jp/issues/issues?sort=updated;state=closed;direction=desc">
					<div class="issues">
					<% for (var i = 0, it; (it = data[i]); i++) { %>
						<div class="issue <%= it.state %>">
							<span class="issue-number">#<%= it.number %></span>
							<a href="<%= it.html_url %>" class="issue-title"><%= it.title %></a>
							by
							<span class="issue-author"><img src="<%= it.user.avatar_url %>" width="16" height="16"/><%= it.user.login %></span>
						</div>
					<% } %>
					</div>
				</script>
			</section>
		</div>

		<footer id="global-footer">
			<p class="powered">This site is based on <a href="http://cho45.github.com/tasscss">cho45/tasscss</a></p>
		</footer>
	</body>
</html>
