<!DOCTYPE html>
<html>
	<head>
		<title>vim-jp - issues</title>
		<meta charset="utf-8"/>
		<link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet/tass" type="text/x-tass" href="styles.tass"/>
		<script type="text/javascript" src="tass.js"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		</script>
	</head>
	<body>
		<div id="whole">
			<header id="top">
				<h1><a href="/">vim-jp</a></h1>
				<p class="description">vim-jp issues</p>
			</header>

			<div id="content">
				<div id="content-inner">
					<div class="line" id="issues">
						<section class="w1">
							<h1>Bugs?</h1>
							<div class="line">
								<section class="w2">
									<h1>Active Issues</h1>
									<script src="githubapi.js" data-api="repos/vim-jp/issues/issues?sort=updated;state=open;direction=desc">
										<div class="issues">
										<% for (var i = 0, it; (it = data[i]); i++) { %>
											<div class="issue <%= it.state %>">
												<span class="number">#<%= it.number %></span>
												<a href="<%= it.html_url %>" class="title"><%= it.title %></a>
												by
												<span class="author"><img src="<%= it.user.avatar_url %>" width="16" height="16"/><%= it.user.login %></span>
											</div>
										<% } %>
										</div>
									</script>
								</section>
								<section class="w2">
									<h1>Fixed Issues</h1>
									<script src="githubapi.js" data-api="repos/cho45/tasscss/issues?sort=updated;state=closed;direction=desc">
										<div class="issues">
										<% for (var i = 0, it; (it = data[i]); i++) { %>
											<div class="issue <%= it.state %>">
												<span class="number">#<%= it.number %></span>
												<a href="<%= it.html_url %>" class="title"><%= it.title %></a>
												by
												<span class="author"><img src="<%= it.user.avatar_url %>" width="16" height="16"/><%= it.user.login %></span>
											</div>
										<% } %>
										</div>
									</script>
								</section>
							</div>
						</section>
					</div>
				</div>
			</div>

			<footer id="global-footer">
				<p class="powered">Powered by <a href="https://github.com/cho45/tasscss">TASS</a></p>
			</footer>
		</div>
	</body>
</html>
